body {
  background-color: #2b4413;
}

.main {
  .__heading {
    padding-block: 60px;
    text-align: center;
  }

  .__form {
    max-width: 600px;
    margin-inline: auto;
    padding: 20px;

    .__field {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 16px;

      .__input {
        height: 30px;
        padding-left: 8px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: transparent;
      }

      .__input:focus {
        border: none;
        outline: 1px solid #72db10;
      }
    }
  }

  .__button {
    display: block;
    width: 100px;
    height: 50px;
    margin-inline: auto;
    border-radius: 10px;
    background-color: #578523;
    cursor: pointer;
  }

  .__button:hover {
    transform: scale(1.1);
  }

  #opt {
    text-align: center;
  }

  .__buttons {
    width: 100%;
    padding: 30px;
    text-align: center;

    .__button1 {
      width: 70%;
      padding-bottom: 10px;
      color: white;
      background-color: #0a59a8;
      border: 1px solid #0a59a8;
      border-radius: 10px;
      cursor: pointer;

      @media (width > 768px) {
        width: 20%;
      }
    }

    .__button1:hover {
      background-color: #12477d;
      border: 2px solid red;
    }

    .__button2 {
      width: 70%;
      padding-bottom: 10px;
      color: white;
      background-color: #00c3ff;
      border: 1px solid #00c3ff;
      border-radius: 10px;
      cursor: pointer;

      @media (width > 768px) {
        width: 20%;
      }
    }

    .__button2:hover {
      background-color: #12477d;
      border: 2px solid red;
    }

    .__img {
      padding-top: 12px;
      width: 30px;
    }
  }
}
