body {
  background-color: #2b4413;
}
.main {
  text-align: center;
  padding: 30px;

  @media (width>768px) {
    text-align: left;
  }

  .__heading {
    padding-block: 60px;
    text-align: center;
  }

  .__section {
    max-width: 1200px;
    margin-inline: auto;
    margin-bottom: 60px;

    .__title {
      margin-bottom: 30px;
      text-align: center;
    }

    .__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: justify;
      gap: 30px;

      @media (width>768px) {
        flex-direction: row;
      }

      .__icon {
        width: 100%;

        @media (width>768px) {
          width: auto;
          height: 300px;
        }
      }
    }
  }
  .--carbon-footprint {
    .__wrapper {
      @media (width>768px) {
        justify-content: center;
      }

      .__text {
        max-width: 500px;
      }
      .__icon {
        width: 200px;

        @media (width>768px) {
          width: auto;
        }
      }
    }
  }
}

.__options {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  margin-left: 50px;
  margin-right: 50px;
  padding-block: 30px;

  @media (width>768px) {
    flex-direction: row;
    gap: 60px;
  }

  .__option {
    max-width: 365px;

    .__title,
    .__text {
      padding-bottom: 10px;
    }
    .__link {
      display: block;
      width: fit-content;
      padding: 10px;
      margin-inline: auto;
      border-radius: 5px;
      background-color: #578523;
      cursor: pointer;
    }

    .__link:hover {
      transform: scale(1.1);
    }
  }
}
